@import "tailwindcss";
@tailwind utilities;

@layer base {
  :root {
    --color-primary: #5E0C07;     /* Crimson Wine */
    --color-secondary: #973A0D;   /* Rust Ember */
    --color-accent: #C96D03;      /* Spiced Pumpkin */
    --color-background: #FFF1D3;  /* Vanilla Cream */
    --color-foreground: #32371B;  /* Olive Forest */

    font-size: 62.5%;
  }
}


@layer utilities {
  .translate-y-centered-offset {
    @apply translate-y-[calc(-50%_+_var(--y))];
  }
  .translate-x-centered-offset {
    @apply translate-x-[calc(-50%_+_var(--x))];
  }
}